@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --tile-color: rgb(40, 40, 40);
  --hidden-color: rgb(20, 20, 20);
  --animation-red-color: rgb(139, 0, 0);
  --hidden-color: --tile-color;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

.field__container{
  position: relative;
}

#message{
  color: red;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto",sans-serif;
  font-size: 4rem;
  /* opacity: 0; */
  /* animation: fade-in 0.5s forwards; */
  z-index: 2;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-500%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}


.field {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 4px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.field.shown {
  opacity: 1;
}

.tile {
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: center;
  border-radius: 1rem;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--tile-color);
}

.tile.actived {
  animation: click 0.5s forwards;
}

.tile.flag {
  --tile-color: rgb(119, 119, 119);
}

.tile.actived.safe {
  --tile-color: rgb(0, 101, 0);
}

.tile.actived.mine {
  --tile-color: rgb(175, 0, 0);
}

@keyframes click {
  0% {
    background-color: var(--hidden-color);
    transform: scale(1);
  }
  25% {
    background-color: var(--animation-red-color);
    transform: scale(0.6);
  }
  100% {
    background-color: var(--tile-color); /* color inicial al finalizar */
    transform: scale(1);
  }
}
