@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --tile-color: rgb(40, 40, 40);
  --hidden-color: rgb(20, 20, 20);
  --animation-red-color: rgb(139, 0, 0);
  --hidden-color: --tile-color;
  --font-size: 3rem;
}

body {
  user-select: none;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  flex-direction: column;
  color: white;
}

.field__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#message,
#retry {
  --font-size: 6rem;
  font-family: "VT323", monospace;
  position: absolute;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: rgb(188, 28, 28);
  z-index: 3;
}

#retry {
  color: #777777;
  top: 55%;
  width: auto;
  --font-size: 4rem;
  animation: show-text 1s ease-in-out forwards;
}

.shown {
  opacity: 1;
  animation: show-text 1s ease-in-out forwards;
}

@keyframes show-text {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
    font-size: 0px;
  }

  75% {
    font-size: 8rem;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    font-size: var(--font-size);
  }
}

.field {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);

  gap: 4px;
  opacity: 1;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tile {
  display: flex;
  align-items: center;
  font-family: "VT323", monospace;
  justify-content: center;
  border-radius: 20%;
  width: 30px;
  height: 30px;

  transition: background-color 0.3s ease-in-out;
  background-color: var(--tile-color);
}

.tile.actived {
  animation: click 0.5s forwards;
}

.tile.flag {
  font-size: 1.5rem;
  --tile-color: rgb(119, 119, 119);
}

.tile.actived.safe {
  --tile-color: rgb(0, 101, 0);
}

.tile.actived.mine {
  --tile-color: rgb(175, 0, 0);
}

@keyframes click {
  0% {
    background-color: var(--hidden-color);
    transform: scale(1);
  }
  25% {
    background-color: var(--animation-red-color);
    transform: scale(0.6);
  }
  100% {
    background-color: var(--tile-color); /* color inicial al finalizar */
    transform: scale(1);
  }
}
